<h1>{{user.name}}</h1>
<p>{{user.email}}</p>
<a href="/users/{{user.id}}/edit">Edit</a>
<form action="/users/{{user.id}}/delete" method="POST">
    <button type="submit" class="">Delete</button>
</form>